* {
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
}

:root {
    --primary-color: #ffc917;
    --secondary-color: #003082;
    --tertiary-color: #e6e6e9;
    --background-color: #ffffff;
    --text-color: #070721;
    --link-color: #0063d3;
    --warning-color: #e2103d;
}

body {
    width: 100vw;
    height: 100vh;
    
}

#school-warning {
    background: red;
    color: white;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
}

fieldset {
    display: flex;
    flex-direction: column;
}
